/*
 * Prevent Tab Overflow
 */

.tabbrowser-tab {
  min-width: 1em !important;
  clip-width: 1em !important;
}

/*** Find Bar Tweaks ***/
.browserContainer > findbar {

  /* Position the Find Bar above the page */
  -moz-box-ordinal-group: 0;

  /* Move Find Bar border from top to bottom */
  border-top: none !important;
  border-bottom: 1px solid ThreeDShadow !important;
}
