"*":
  core:
    disabledPackages: [
      "spell-check"
      "wrap-guide"
      "welcome"
      "update-package-dependencies"
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "autoflow"
      "background-tips"
      "bookmarks"
      "bracket-matcher"
      "command-palette"
      "dalek"
      "deprecation-cop"
      "encoding-selector"
      "exception-reporting"
      "git-diff"
      "github"
      "grammar-selector"
      "image-view"
      "incompatible-packages"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-git"
      "language-go"
      "language-html"
      "language-hyperlink"
      "language-java"
      "language-javascript"
      "language-json"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-source"
      "language-sass"
      "language-rust-bundled"
      "language-sql"
      "language-todo"
      "language-toml"
      "language-typescript"
      "language-xml"
      "language-yaml"
      "link"
      "markdown-preview"
      "metrics"
      "notifications"
      "open-on-github"
      "package-generator"
      "snippets"
      "styleguide"
      "symbols-view"
      "timecop"
    ]
    telemetryConsent: "no"
  editor:
    autoIndent: false
    autoIndentOnPaste: false
  "exception-reporting":
    userId: "b65b9484-e3be-4917-8b8e-c7dde84de21d"
  "one-dark-ui":
    hideDockButtons: true
  welcome:
    showOnStartup: false
